.ads-input-error {
  border-color: #c61010 !important;
}

.ads-text-error {
  color: #c61010 !important;
}

.remove-layer-height-btn,
.add-button {
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.add-button {
  font-size: 13px !important;
  margin-top: 10px !important;
}

.remove-layer-height-btn:hover,
.add-button:hover {
  color: #494949;
}

.hide {
  display: none !important;
}

.infill-density-values-wrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.infill-density-values-wrapper input {
  max-width: 200px;
}

.infill-density-values-wrapper p {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.infill-density-values-wrapper p label:last-child {
  margin-right: 5%;
}


.infill-density-values-wrapper p:first-child {
  justify-content: space-between;
}
