.ads-input-error {
    border-color: #c61010 !important;
}

.ads-text-error {
    color: #c61010 !important;
}

.remove_layer_height_btn,
.add_button {
    font-size: 18px !important;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.add_button {
    font-size: 13px !important;
    margin-top: 10px !important;
}

.remove_layer_height_btn:hover,
.add_button:hover {
    color: #494949;
}