.ads-input-error {
  border-color: #c61010 !important;
}

.ads-text-error {
  color: #c61010 !important;
}

.remove_layer_height_btn,
.add_button {
  font-size: 18px !important;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.add_button {
  font-size: 13px !important;
  margin-top: 10px !important;
}

.remove_layer_height_btn:hover,
.add_button:hover {
  color: #494949;
}

.hide {
  display: none !important;
}

.infill_density_values_wrapper {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.infill_density_values_wrapper input {
  max-width: 200px;
}

.infill_density_values_wrapper p {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.infill_density_values_wrapper p label:last-child {
  margin-right: 5%;
}


.infill_density_values_wrapper p:first-child {
  justify-content: space-between;
}
