div.ads-header-menu ul li:nth-child(5) {
  /*background: var(--e-global-color-primary);*/
  background: var(--e-global-color-8ed4e95);
  border-radius: 5px;
}

div.ads-header-menu ul li:nth-child(5) a {
  color: #FFFFFF !important;
}

.button {
  background-color: var(--e-global-color-8ed4e95) !important;
  color: var(--e-global-color-2e52655) !important;
  border-radius: 5px !important;
}

div.product p.price,
li.product span.price {
  color: var(--e-global-color-8ed4e95) !important;
}